extends ../_template
block variables
	-	pageTitle = 'Каталог'
	- page = 'catalog'
block content
	header.header
		include ../modules/_top-line
		.header__content
			.container
				.title.title--size-l.header__title Вязание на заказ
		.wave.header__wave
	.content
		include ../blocks/_s-form
	include ../blocks/_footer