extends ../_template
block variables
	-	pageTitle = 'Главная'
	- page = 'home'
block content
	include ../blocks/_header
	.content
		include ../blocks/_best-product
		include ../blocks/_skills
		include ../blocks/_recalls
	include ../blocks/_footer
