section.best-product
	.container.best-product__container.container--small
		h2.title.title--size-l.best-product__title Вязаные корзинки
		span.best-product__marker Товар недели
		.best-product__content
			.best-product__info.
				Экологически чистая пряжа, ручная работа. Доступны в шести расцветках, и трех размерах.
			.best-product__table
				.best-product__table-row
					.best-product__table-col Цвет: 
					.best-product__table-col «Тиффани»/серый
				.best-product__table-row
					.best-product__table-col Диаметр:
					.best-product__table-col 25 см
				.best-product__table-row
					.best-product__table-col Высота: 
					.best-product__table-col 15 см
			figure.best-product__avatar
				picture.best-product__img-wrap
					source(media='(min-width: ' + notebook + ')' srcset='./img/triple-set-desktop.jpg')
					source(media='(min-width: ' + tablet + ')' srcset='./img/triple-set-tablet.jpg')
					img.best-product__img(src='./img/triple-set-mobile.jpg')
			.best-product__price Цена: 990 руб
			.best-product__button
				.button
					a(href='#' title='Заказать').button__text Заказать
	.wave