section.contacts
	.container.container--small.contacts__container
		h2.title.title--size-l.contacts__title Контакты
		.contacts__ico.i-flag
		.contacts__table
			.contacts__row
				.contacts__cell
					.contacts__table-text e-mail:
				.contacts__cell
					a(href='#' title='e-mail').contacts__email.contacts__table-text info@mimimishkashop.ru
			.contacts__row
				.contacts__cell
					.contacts__table-text
						.contacts__table-text адрес:
				.contacts__cell
					.contacts__table-text
						address.contacts__table-text г. Санкт-Петербург,ул. Большая Конюшенная, д. 19/8, офис 101
	.container.contacts__map-container
		.map#map.contacts__map
	.container.container--small
		.button.contacts__button
			a(href="#" title='Напишите нам').button__text Напишите нам