section.goods
	//- video.test.video-js.vjs-default-skin(data-setup={"controls":true} width="400" height="300")
	//- 	source(src='./img/video.mp4' loop="loop" type='video/mp4')
	.container
		ul.goods__list
			li.goods__item
				a(href="#" title='Зайчик-попрыгайчик').goods__link
					.card
						figure.card__avatar
							picture.card__img-wrap
								source(media='(min-width: ' + notebook + ')' srcset='./img/photo-1-desktop.jpg')
								source(media='(min-width: ' + tablet + ')' srcset='./img/photo-1-tablet.jpg')
								img.card__img(src='./img/photo-1-mobile.jpg')
						.card__content
							h4.card__title Зайчик-попрыгайчик
							.card__info Рост 30 см, вес 200 г
							.card__bottom
								.card__price 1 200 руб.
								+svg('cart', 'icon i-cart card__ico')
			li.goods__item
				a(href="#" title='Корзина для белья').goods__link
					.card
						figure.card__avatar
							picture.card__img-wrap
								source(media='(min-width: ' + notebook + ')' srcset='./img/photo-2-desktop.jpg')
								source(media='(min-width: ' + tablet + ')' srcset='./img/photo-2-tablet.jpg')
								img.card__img(src='./img/photo-2-mobile.jpg')
						.card__content
							h4.card__title Корзинка для белья
							.card__info Диаметр  сота 10 см
							.card__bottom
								.card__price 690 руб.
								+svg('cart', 'icon i-cart card__ico')
			li.goods__item
				a(href="#" title='Большая корзинка для игрушек').goods__link
					.card
						figure.card__avatar
							picture.card__img-wrap
								source(media='(min-width: ' + notebook + ')' srcset='./img/photo-3-desktop.jpg')
								source(media='(min-width: ' + tablet + ')' srcset='./img/photo-3-tablet.jpg')
								img.card__img(src='./img/photo-3-mobile.jpg')
						.card__content
							h4.card__title Большая корзинка для игрушек
							.card__info Диаметр 30 см, высота 30 см
							.card__bottom
								.card__price 1 500 руб.
								+svg('cart', 'icon i-cart card__ico')
			li.goods__item.goods__video
				.video-card
					.video-card__header
						+svg('camera','i-camera video-card__svg')
						h5.video-card__title Процесс производства
					figure.video-card__avatar
						//- video.video-card__video
						//- 	source(src='./img/video.mp4' loop="loop" type='video/mp4')
						picture.card__img-wrap
							source(media='(min-width: ' + notebook + ')' srcset='./img/video-desktop.jpg')
							source(media='(min-width: ' + tablet + ')' srcset='./img/video-tablet.jpg')
							img.video-card__img(src='./img/video-mobile.jpg')
						img(src='./img/play.svg' title='Включить видео' alt='Включить видео').video-card__ico.i-play
					.video-card__content
						p.video-card__text.
							По просьбам наших любимых фолловеров мы сняли для вас подробное видео о том, как появляются наши товары.
						.button.video-card__button#play-button
							a(href="#" title='Сделать заказ').button__text Сделать заказ
