header.header
	include ../modules/_logo
	include ../modules/_sandwich
	nav.menu
		ul.menu__list
			li.menu__item
				a.menu__link(href='#' title='Каталог товаров') Каталог товаров
			li.menu__item
				a.menu__link(href='#' title='Вязание на заказ') Вязание на заказ
			li.menu__item
				a.menu__link(href='#' title='Вязание на заказ') Вязание на заказ