section.recalls
	.container.container--small
		h2.title.title--size-l.recalls__title Отзывы
		.recalls__content
			.recall
				p.recall__text.
					Я молодая мама, но все равно фотографии не набирали и близко такого количества лайков, как у популярных инстамамочек. В отчаянии, я накупила аксессуаров и игрушек в Мишке и мои фотографии сразу стали более стильнее, а также набирают больше лайков!
				.recall__name Анастасия Красильникова
				.recall__email @misssssiskras
			.recall
				p.recall__text.
					Я молодая мама, но все равно фотографии не набирали и близко такого количества лайков, как у популярных инстамамочек. В отчаянии, я накупила аксессуаров и игрушек в Мишке и мои фотографии сразу стали более стильнее, а также набирают больше лайков!
				.recall__name Анастасия Красильникова
				.recall__email @misssssiskras
			.recall
				p.recall__text.
					Я молодая мама, но все равно фотографии не набирали и близко такого количества лайков, как у популярных инстамамочек. В отчаянии, я накупила аксессуаров и игрушек в Мишке и мои фотографии сразу стали более стильнее, а также набирают больше лайков!
				.recall__name Анастасия Красильникова
				.recall__email @misssssiskras
		.recalls__controls
			a(href='#' title='Предыдущий отзыв').recalls__control.recalls__control--prev
				+svg('arrow-left','i-arrow recalls__control-ico')
			a(href='#' title='Следующий отзыв').recalls__control.recalls__control--next
				+svg('arrow-right','i-arrow recalls__control-ico')
		.button.recalls__button
			a(href="#" title='Написать отзыв').button__text Написать
	.wave
