section.skills
	.container.container--small
		.title.title--size-l.skills__title Коротко о нас: 
		.skills__wrap
			.skill
				.skill__ico
					+svg('flower','i-flower skill__ico')
				p.skill__text Экологически чистые материалы
			.skill
				.skill__ico
					+svg('dollar','i-dollar skill__ico')
				p.skill__text Скандинавский стиль по российской цене
			.skill
				.skill__ico
					+svg('heart','i-heart skill__ico')
				p.skill__text Увеличивает лайки на фотографиях
		.skills__wrap
			.skill
				.skill__ico
					+svg('thread','i-thread skill__ico')
				p.skill__text Связано вручную с любовью и умилением
			.skill
				.skill__ico
					+svg('rocket','i-rocket skill__ico')
				p.skill__text Поддержка отечественного производителя
			.skill
				.skill__ico
					+svg('present','i-present skill__ico')
				p.skill__text Поставляется в подарочной упаковке