.goods{
	padding-top: rem(30px);
	padding-bottom: rem(58px);
	&__list{
		margin: 0;
		padding: 0;
	}
	&__item{
		list-style-type: none;
	}
	&__link{
		text-decoration: none;
		max-width: rem(260px);
		width: 100%;
		display: block;
		color: $colorBase;
		outline: none;
		-webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
		-webkit-tap-highlight-color: transparent;
	}
}

@include apply-to($tablet){
	.goods{
		padding-top: rem(67px);
		padding-bottom: rem(62px);
	}
	.goods__link{
		max-width: 100%;
		margin-bottom: rem(24px);
	}
}

@include apply-to($notebook){
	.goods{
		padding-top: rem(117px);
		padding-bottom: rem(103px);
	}
	.goods__list{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
	}
	.goods__item{
		display: flex;
		flex-basis: rem(315px);;
		margin-right: rem(52px);
		&:nth-child(3n+3){
			margin-right: 0;
		}
	}
	.goods__link{
		max-width: rem(315px);
		display: flex
	}
	.goods__video{
		max-width: 100%;
		flex-basis: 100%;
		margin-right: 0;
	}
	
}