.header{
  background-color: $colorLight;
  position: relative;
  &__title{
    text-align: center;
    max-width: rem(234px);
    margin: 0 auto;
    @include apply-to($tablet){
     max-width: rem(512px);
    }
    @include apply-to($notebook){
     max-width: rem(700px);
    }
  }
  &__container{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    max-width: 100%;
    position: relative;
    @include trans(.3s);
  }
  &__info-container{
    display: none;
  }
  &__logo-wrap{
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    width: 100%;
  }
  &__logo{
    margin: rem(20px) auto rem(22px);
    transition: opacity .2s;
    @include apply-to($tablet){
     margin: rem(21px) 0;
    }
    &:hover{
      opacity: .3;
    }
  }
  &__sandwich{
    position: absolute;
    top: rem(33px);
    right: rem(29px);
    @include apply-to($tablet){
      display: none;
    }
  }
  &__list{
    @include apply-to($tablet){
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  &__wave{
    background-image: url("../img/wave-light.svg");
    display: none;
  }
}

.header
.menu__item{
  &:nth-child(n+3){
    display: none;
  }
}

.header--active{
  .header__user-menu{
    display: block;
  }
}




.header__content{
  padding-top: rem(70px);
  background-color: #f9f9f9;
  height: rem(176px);
}


#home{
  .header__content{
    padding-top: rem(88px);
    height: rem(506px);
    background-image: url("../img/hero-mobile.jpg");
    background-repeat: no-repeat;
    //background-size: contain;
    background-position: center top;
    background-color: #f9f9f9;
    position: relative;
  }
}












@include apply-to($tablet){
  .header__wave{
    display: block;
    height: rem(24px);
    bottom: -2px;
  }
  .header__content{
    padding-top: rem(95px);
    height: rem(237px);
  }
  #home{
    .header__content{
      padding-top: rem(155px);
      background-image: url("../img/hero-desktop.jpg");
      height: rem(760px);
    }
  }
  
  .header__top-line{
    background-color: transparent;
    border-bottom: 1px solid #ececec;
    margin: 0 auto;
  }
  .header__container{
    max-width: rem(668px);
  }
  .header__info-container{
    display: block;
    position: relative;
    max-width: rem(668px);
    z-index: 100;
  }
  .header__info{
    display: block;
    position: absolute;
    right: 0;
    font-size: rem(14px);
    color: #444444;
    top: rem(24px);
    font-weight: 400;
    letter-spacing: em(0.6px);
  }
  .header{
    &__logo-wrap{
      order: 1;
      max-width: rem(317px);
      background-color: $colorLight;
      margin-right: auto;
      border: 0;
    }
   
    &__menu-user{
      order: 2;

      background-color: $colorLight;
      position: relative;

    }
     &__menu{
      order: 3;
      position: absolute;
      left: 0;
      top: 126%;
      width: rem(371px);
      z-index: 100;
      .menu__item{
        display: inline-block;
        width: auto;
        margin-bottom: rem(20px);
      }
      .menu__link{
        display: inline;
        padding-right: 31px;
      }
      .menu__inner{
        padding: 0;
        font-size: rem(14px);
        width: auto;
      }
    }
  }
}

@include apply-to($notebook){

  .header{
    &__logo-wrap{
      order: 2;
      margin: auto;
      text-align: center;
      position: relative;
      max-width: rem(250px);

    }
   
    &__menu-user{
      order: 2;
    }
    &__menu{
      order: 1;
      position: relative;
      top: rem(34px);
      width: rem(371px);
    }
  }

  .header
  .header__menu
  .menu__inner{
    font-size: rem(16px);
  }

  .header
  .header__menu{
    width: rem(400px);
  }

  .header__menu
  .menu__link{
    padding: 0;
  }
  .header__menu
  .menu__item{
    &:nth-child(odd){
      margin-right: rem(68px);
    }
    &:nth-child(n+3){
      position: relative;
      top: rem(37px);
      left: rem(1px);
      margin-right: rem(58px);
      display: inline-block;
      .menu__inner{
        font-size: rem(14px);
      }
    }
  }
  .header__container{
    &:before{
      content: '';
      display: block;
      height: 100%;
      width: 1px;
      left: 18%;
      background-color: #ececec;
      position: absolute;
    }
  }
  .header__content{
    padding-top: rem(92px);
    height: rem(265px);
  }
  #home{
    .header__content{
      padding-top: rem(150px);
      height: rem(756px);
    }
  }
  .header__wave{
    height: rem(34px);
    bottom: -5px;
  }

}




