.recalls{
	padding-top: rem(6px);
	padding-bottom: rem(51px);
	position: relative;
	&__content{
		width: 100%;
	}
	&__title{
		margin-bottom: em(18px);
	}
	.container{
		position: relative;
	}
}



// arrows slider
.recalls{
	&__controls{
		@include clear();
		border: 1px solid #ececec;
		margin-bottom: rem(38px);
	}
	&__control{
		@include col(6);
		height: rem(52px);
		position: relative;
		&:first-child{
			border-right: 1px solid #ececec;
		}
		&:hover{
			.recalls__control-ico{
				opacity: .6;
			}
		}
		&:active{
			.recalls__control-ico{
				opacity: .3;
			}
		}
	}
	&__control-ico{
		@include center();
	}
}

@include apply-to($tablet){
	.recalls{
		padding-top: rem(76px);
		padding-bottom: rem(174px);
		&:before{
			content: '';
			display: block;
			background-image: url("../img/review.jpg");
			z-index: -1;
			width: rem(350px);
			height: rem(458px);
			position: absolute;
			top: 0;
			left: 0;
		}
	}
	.recalls__title{
		margin-bottom: em(20px);
		position: relative;
		left: rem(-4px);
	}
	.recalls__button{
		position: absolute;
		width: 100%;
		max-width: rem(175px);
		top: rem(2px);
		right: 0;
	}

	.recalls__controls{
		width: rem(167px);
		position: absolute;
		right: 0;
		border: 0;
		bottom: rem(-28px);
	}
	.recalls__control{

	}
	.recalls__control:first-child{
		border: 0;
		left: rem(-5px);
	}
}

@include apply-to($notebook){
	.recalls{
		padding-top: 0;
		padding-bottom: rem(178px);
		&:before{
			display: none;
		}
		.container{
			padding-top: rem(70px);
			&:before{
				content: '';
				display: block;
				background-image: url("../img/review.jpg");
				z-index: -1;
				width: rem(350px);
				height: rem(458px);
				position: absolute;
				top: 0;
				left: 0;
			}
		}
	}
	.recalls__title{
		margin-bottom: em(15px);
	}
	.recalls__button{
		top: rem(79px);
	}
}