.field{
	margin-bottom: rem(23px);
	position: relative;
	&:last-child{
		margin-bottom: 0;
	}
	&__title{
		font-weight: 900;
		font-size: rem(17px);
		font-family: $fontBase;
		display: block;
		margin-bottom: rem(18px);
	}
	&__input{
		outline: none;
		border: none;
		background-color: transparent;
		border-bottom: 2px solid $colorBase;
		padding: 0 rem(46px) rem(17px) 0;
		display: block;
		width: 100%;
	}
	&__ico{
		position: absolute;
		top: 0;
		right: 0;
	}
}

.field--textarea
.field__input{
	resize: none;
	border: 2px solid $colorBase;
	min-height: rem(149px);
	padding: rem(17px) rem(50px) rem(17px) rem(17px);
}


@include apply-to($tablet){
	
	.field--textarea
	.field__input{
		min-height: rem(143px);
	}

	.field__ico{
		right: rem(24px);
	}
}


@include apply-to($notebook){
	.field__ico{
		right: rem(6px);
	}
}