.radio{
	display: block;
	min-height: rem(41px);
	&__input{
		display: none;
	}
	&__ico{
		width: rem(40px);
		height: rem(41px);
		border-radius: 50%;
		float: left;
		background-color: transparent;
		border: 2px solid $colorDark2;
		margin-right: rem(20px);
		cursor: pointer;
		position: relative;
		transition: .2s;
		&:hover{
			border-color: $colorMain;
		}
		&:active{
			border-color: rgba($colorMain,.3);
		}
	}
	&__text{
		position: relative;
		top: rem(5px);
		vertical-align: middle;
		cursor: pointer;
		font-weight: 900;
		font-size: rem(17px);
		font-family: $fontBase;
	}
}

.radio__ico:after{
	content: '';
	display: block;
	height: rem(17px);
	width: rem(16px);
	border-radius: 50%;
	@include center();
	opacity: 0;
	background-color: $colorMain;
}


// active
.radio__input:checked + .radio__ico:after{
	opacity: 1;
}

@include apply-to($tablet){
	.radio{
		min-height: rem(52px);
	}
	.radio__ico{
		width: rem(52px);
		height: rem(52px);
		margin-right: rem(29px);
	}
	.radio__ico:after{
		width: rem(21px);
		height: rem(21px);
	}
	.radio__text{
		top: rem(13px);
	}
}

