figure.logo
	a.logo__link(href='/' alt='Главная')
		picture.logo__img-wrap
			source(media='(min-width: 768px)' srcset='./img/logo-4.svg')
			source(media='(min-width: 480px)' srcset='./img/logo-2.svg')
			img.logo__img(src='./img/logo-1.svg')