$color-icon : #d3d2d2;


.icon{
  fill: $color-icon;
}

.i-search{
  height: rem(18px);
  width: rem(18px);
}

.i-cart{
  height: rem(18px);
  width: rem(21px);
}

.i-insta{
	width: rem(22px);
	height: rem(21px);
}

.i-fb{
	width: rem(15px);
	height: rem(28px);
}

.i-twitter{
	width: rem(23px);
	height: rem(20px);
}

.i-htmlAcademy{
	width: rem(27px);
	height: rem(34px);
}

.i-lego{
	height: rem(60px);
	width: rem(60px);
}

.i-lamp{
	height: rem(62px);
	width: rem(40px);
}

.i-flower{
	height: rem(37px);
	width: rem(37px);
}

.i-dollar{
	width: rem(47px);
	height: rem(27px);
}

.i-heart{
	height: rem(27px);
	width: rem(34px);
}

.i-thread{
	width: rem(34px);
	height: rem(35px);
}

.i-rocket{
	height: rem(23px);
	width: rem(55px);
}

.i-present{
	height: rem(32px);
	width: rem(33px);
}