.skill{
	margin-bottom: rem(36px);
	&:nth-child(2){
		margin-bottom: rem(41px);
	}
	&__ico{
		fill: $colorMain;
		position: relative;
	}
	&__text{
		font-family: $fontBase;
		font-weight: 900;
		//max-width: rem(203px);
	}
}



