.skill{
	margin-bottom: rem(36px);
	&:nth-child(2){
		margin-bottom: rem(41px);
	}
	&__ico{
		fill: $colorMain;
		position: relative;
	}
	&__text{
		font-family: $fontBase;
		font-weight: 900;
	}
}


@include apply-to($tablet){
	.skill{
		margin-bottom: rem(55px);
		&:nth-child(2){
			margin-bottom: rem(60px);
		}
	}
	.skill__text{
		font-size: rem(20px);
	}
}



