.title{
	font-family: $fontBase;
	display: block;
	margin: 0;
	padding: 0;
	font-weight: 900;
}

.title--size-l{
	font-size: rem(24px);
	line-height: em(19px);
	@include apply-to($tablet){
		font-size: rem(40px);
	}
	@include apply-to($notebook){
		font-size: rem(50px);
	}
}

